@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --input-box: #E6E6E6;
    --download-btn: #162E27;
    --dark-green: #162F27;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    border: none;
}

body {
    background-image: url(/img/bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.main-container a{
    color: blue;
    text-decoration: none;
}

.main-container a:hover {
    text-decoration: underline;
}

.main-container > .left {
    margin-top: 10vh;
    margin-left: 10vh;
    margin-right: 20vh;

}

.main-container > .left h1 {
    font-size: 60px;
}

.main-container > .left h3 {
    font-size: 20px;
}

.main-container > .right {
    height: 100vh;
    margin-right: 15vh;
}


.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.site-description {
    margin-top: 10vh;
}

/* Input Area */
#input-area {
    background-color: var(--input-box);
    margin-top: 5vh;
    padding: 40px;
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "name radio-buttons"
        "email quero-empreender"
        "agreement-radio download-btn";
}

.quero-empreender {
    grid-area: quero-empreender;
}

.agreement-radio {
    grid-area: agreement-radio;
}

.form-group {
    transition: all .3s;
}

.form-label {
    font-size: 1em;
    color: #aaa;
    display: block;
    opacity: 1;
    transform: translateY(-2.10em);
    transform-origin: 0 0;
    transition: all .3s;
    margin-left: 15px;
}

.form-control {
    box-shadow: none;
    background-color: #fff;
    border-radius: 0px;
    border-color: transparent;
    border-style: none none solid none;
    width: 100%;
    transition: all .5s;
    padding: 5px;
    height: 43px;
}

.form-control::placeholder{
    color: transparent;
}

.form-control:focus{
    box-shadow: none;
    outline: none;
    border-color: orange;
}

.form-control:focus ~ .form-label, .form-control:valid ~ .form-label{
    transform: translateY(-4em) scale(.8);
}

.form-group:focus-within{
    transform: scale(1.05,1.05);
}

/* Lado direito da input area principal */
.main-form .right {
    margin-left: 43px;

}

.radio-buttons div{
    display: inline-block;
}

.radio-buttons {
    text-align: center;
    grid-area: radio-buttons;
}

.name {
    grid-area: name;
}

.email {
    grid-area: email;
}

.option1 {
    margin-right: 80px;
}

/* Mensagem de erro */
span.error {
    display: flex;
    padding: 0;
    background-color: rgba(255, 0 , 0, 0.2);
    font-size: small;
}

span.error.active {
    border: 1px solid red;
    padding: 0.4em;
    margin-top: -20px;
}

.agreement-radio span.error{
    margin-top: 10px;
}
/* Botão */
.download-btn {
    text-align: right;
    grid-area: download-btn;
}

.download-btn button {
    background-color: var(--dark-green);
    color: white;
    padding: 5px 5px 5px 15px;
    font-size: 18px;
    cursor: pointer;
}

.download-btn img {
    margin-left: 10px;
    margin-right: 10px;
}
/* Logo */
.logo {
    margin-top: 40px;
    float: right;
}

/* Iniciando estilização no pop up da política de privacidade */
.popup-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    padding: 40px;
}

.popup-container.mostrar {
    display: flex;
}

.popup-content {
    background: #000;
    color: white;
    max-width: 50%;
    min-width: 300px;
    padding: 15px;
    position: relative;
}

.popup-content .policy-text {
    background: white;
    color: #000;
    overflow-y: scroll;
    height: 650px;
}

.popup-content h1 {
    margin: 25px 0 30px 0;
    text-align: center;
}

.check-agreement {
    display: flex;
    justify-content: flex-start ;
}


.agree-btn {
    grid-area: agree-btn;
    margin-left: auto;
    margin-top: 30px;
    background-color: var(--dark-green);
    color: white;
    padding: 5px 5px 5px 15px;
    font-size: 18px;
    cursor: pointer;
}

.agree-btn img {
    padding: 0px 5px;
}

.agree-checkbox {
    margin-top: 40px;
}

.close {
    position: absolute;
    top: -5px;
    right: -20px;
    background: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}