@media (max-width: 1400px) {

    body {
        background-position: auto top;
    }

    .main-container > .left h1 {
        font-size: 45px;
        text-align: center;
    }

    .main-container > .left h3 {
        text-align: center;
    }

    .main-container {
        grid-template-columns: 1fr;
        margin: 40px;
    }

    .main-container > .left {
        margin: 0;
    }

    .main-container > .right {
        margin: 0;
        height: 0;
    }

    .site-description {
        margin-top: 200px;
    }
}

@media (max-width: 1024px) {
    body {
        background-size: 120%;
        background-position: 3em -100px;
    }

    .site-description {
        margin-top: 20px;
    }
}

@media (max-width: 630px) {

    body {
        background-size: 200%;
        background-position: -30px -90px;
    }

    .site-description {
        margin-top: 20px;
    }
    .main-container {
        grid-template-columns: 1fr;
        margin: 20px;
    }

    .main-container > .right {
        margin: 0;
    }

    #input-area {
        margin: 20px;
        padding: 40px;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "name"
            "email"
            "radio-buttons"
            "quero-empreender"
            "agreement-radio"
            "download-btn";
        
    }

    .main-form .right {
        margin: 0;
    }

    .main-form #agreement-label{
        font-size: 15px;
    }

    .main-form .agreement-radio {
        padding: 0 40px;
    }
    
    /* Posicionamento do logo */
    .logo h1{
        margin-left: 133px;
        text-align: left;
        margin-right: 0;
    }

    .logo h3{
        text-align: center;
        margin-left: 60px;
    }

    /* Posicionamento do botão */
    .download-btn {
        text-align: center;
    }

    .radio-buttons h2 {
        font-size: 35px;
    }

    .site-description{
        padding: 20px;
    }

}