* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
}

.left {
    height: 100vh;
    margin-top: 10vh;
    
}

.right {
    background-color: yellow;
    height: 100vh;
}


.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text {
    margin-top: 10vh;
}

#input-area { 
    background-color: magenta;
}
